### IS4242 Group 8 Project

### Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Exploring the processed dataset

In [3]:
df = pd.read_csv('data/df_combined_processed_2023-03-30.csv')
df

,Unnamed: 0,body,hate,privacy,sexual,impersonation,illegal,advertisement,ai
0,0,career career kalleron design refus collect re...,0,0,0,0,0,0,0
1,1,career career hotmeringue2880 hi econom gradua...,0,0,0,0,0,0,0
2,2,career career milenakowalska hey year finish b...,0,0,0,0,0,0,0
3,3,career career rstonerphd studi make employe wa...,0,0,0,0,0,1,0
4,4,career career temporarysection50 hi accept job...,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
41198,41198,you muthafin lie 8220lifeask 20pearl coreyeman...,1,0,0,0,0,0,0
41199,41199,youv gone broke wrong heart babi drove redneck...,0,0,0,0,0,0,0
41200,41200,young buck wanna eat dat nigguh like aint fuck...,1,0,0,0,0,0,0
41201,41201,youu got wild bitch tellin lie,1,0,0,0,0,0,0
41202,41202,ruffl ntac eileen dahlia beauti color combin p...,0,0,0,0,0,0,0